name: Test Telegram Bot

on:
  workflow_dispatch: # Позволяет запускать вручную из интерфейса GitHub
  # Можно добавить schedule для запуска в определенное время
  # schedule:
  #   - cron: '0 * * * *' # Пример: каждый час

jobs:
  run_bot:
    runs-on: ubuntu-latest
    timeout-minutes: 360 # Устанавливает лимит в 6 часов (360 минут)

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run bot for testing
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }} # Использует секрет репозитория
        run: python main.py

concurrency:
  group: telegram-bot
  cancel-in-progress: true  # Это убьет прошлую копию сама
